# JSON and XML - Lab

## Introduction

In this lab, we'll continue investigating new formats for datasets. Specifically, we'll investigate two of the most popular data formats for the web: JSON and XML including strenghts and weaknesses.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [3]:
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [4]:
#Answer: 1
count=0
for child in root:
    count+=1
print count

1

### How many different types of tags are there within the entire XML file?

In [7]:
count = 0
for child in root:
    print('Child:\n')
    print(child.tag, child.attrib)
    print('Grandchildren:')
    for grandchild in child:
        count += 1
    
print(count)

Child:

('row', {})
Grandchildren:
285

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [6]:
import pandas as pd

In [12]:
#Your code here
pd.DataFrame({'count':[count]})

   count
0    285

## JSON

### Open the same dataset from json

In [13]:
#Your code here
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)
print(type(data))

<type 'dict'>

### What is the root data type of the json file?

In [14]:
### Your code here
data.keys()

[u'meta', u'data']

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [16]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [17]:
#Your code here
data['data'][0]

[1,
 u'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 u'392904',
 1315925633,
 u'392904',
 u'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 u'CANDID',
 u'CANDNAME',
 None,
 u'OFFICEBORO',
 None,
 u'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [18]:
data['meta']['view']['columns']

[{u'dataTypeName': u'meta_data',
  u'fieldName': u':sid',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'sid',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':id',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'id',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':position',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'position',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':created_at',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'created_at',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':created_meta',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'created_meta',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':updated_at',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'updated_at',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':updated_meta',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'updated_meta',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'dataTypeName': u'meta_data',
  u'fieldName': u':meta',
  u'flags': [u'hidden'],
  u'format': {},
  u'id': -1,
  u'name': u'meta',
  u'position': 0,
  u'renderTypeName': u'meta_data'},
 {u'cachedContents': {u'average': u'2001',
   u'largest': u'2001',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'2001',
   u'sum': u'568284',
   u'top': [{u'count': 20, u'item': u'2001'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'election',
  u'format': {u'align': u'right',
   u'noCommas': u'true',
   u'precisionStyle': u'standard'},
  u'id': 75768833,
  u'name': u'ELECTION',
  u'position': 2,
  u'renderTypeName': u'number',
  u'tableColumnId': 1518991,
  u'width': 196},
 {u'cachedContents': {u'largest': u'YA',
   u'non_null': 285,
   u'null': 0,
   u'smallest': u'148',
   u'top': [{u'count': 20, u'item': u'490'},
    {u'count': 19, u'item': u'577'},
    {u'count': 18, u'item': u'GF'},
    {u'count': 17, u'item': u'265'},
    {u'count': 16, u'item': u'549'},
    {u'count': 15, u'item': u'260'},
    {u'count': 14, u'item': u'DH'},
    {u'count': 13, u'item': u'168'},
    {u'count': 12, u'item': u'561'},
    {u'count': 11, u'item': u'317'},
    {u'count': 10, u'item': u'240'},
    {u'count': 9, u'item': u'B1'},
    {u'count': 8, u'item': u'337'},
    {u'count': 7, u'item': u'202'},
    {u'count': 6, u'item': u'DP'},
    {u'count': 5, u'item': u'554'},
    {u'count': 4, u'item': u'529'},
    {u'count': 3, u'item': u'521'},
    {u'count': 2, u'item': u'CY'},
    {u'count': 1, u'item': u'327'}]},
  u'dataTypeName': u'text',
  u'fieldName': u'candid',
  u'format': {},
  u'id': 75768834,
  u'name': u'CANDID',
  u'position': 3,
  u'renderTypeName': u'text',
  u'tableColumnId': 1518992,
  u'width': 172},
 {u'cachedContents': {u'largest': u'Zett, Lori M',
   u'non_null': 285,
   u'null': 0,
   u'smallest': u'Aboulafia, Sandy',
   u'top': [{u'count': 20, u'item': u'Taitt, Samuel A'},
    {u'count': 19, u'item': u'Taliaferro, Phyllis'},
    {u'count': 18, u'item': u'Taveras, Germania'},
    {u'count': 17, u'item': u'Thakral, Jairam D'},
    {u'count': 16, u'item': u'Thomas, Carl W'},
    {u'count': 15, u'item': u'Thompson, Jr., William C'},
    {u'count': 14, u'item': u'Tiraco, Joseph E'},
    {u'count': 13, u'item': u'Toney, Vaughan'},
    {u'count': 12, u'item': u'Toppin, Roger N'},
    {u'count': 11, u'item': u'Torres, Mario A'},
    {u'count': 10, u'item': u'Vallone, Jr., Peter F'},
    {u'count': 9, u'item': u'Vallone, Peter F'},
    {u'count': 8, u'item': u'Van Bramer, James G'},
    {u'count': 7, u'item': u'Vann, Albert'},
    {u'count': 6, u'item': u'Vargas, Ruben Dario'},
    {u'count': 5, u'item': u'Vassos, Sandra'},
    {u'count': 4, u'item': u'Vernet, Jean D'},
    {u'count': 3, u'item': u'Viest, Nicholas D'},
    {u'count': 2, u'item': u'Villaverde, Sergio'},
    {u'count': 1, u'item': u'Vogel, Mark H'}]},
  u'dataTypeName': u'text',
  u'fieldName': u'candname',
  u'format': {},
  u'id': 75768835,
  u'name': u'CANDNAME',
  u'position': 4,
  u'renderTypeName': u'text',
  u'tableColumnId': 1518993,
  u'width': 196},
 {u'cachedContents': {u'average': u'4.700704225352113',
   u'largest': u'5',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'1',
   u'sum': u'1335',
   u'top': [{u'count': 20, u'item': u'5'},
    {u'count': 19, u'item': u'1'},
    {u'count': 18, u'item': u'3'},
    {u'count': 17, u'item': u'4'},
    {u'count': 16, u'item': u'2'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'officecd',
  u'format': {},
  u'id': 75768836,
  u'name': u'OFFICECD',
  u'position': 5,
  u'renderTypeName': u'number',
  u'tableColumnId': 1518994,
  u'width': 196},
 {u'cachedContents': {u'largest': u'X',
   u'non_null': 21,
   u'null': 264,
   u'smallest': u'K',
   u'top': [{u'count': 20, u'item': u'OFFICEBORO'},
    {u'count': 19, u'item': u'X'},
    {u'count': 18, u'item': u'M'},
    {u'count': 17, u'item': u'K'},
    {u'count': 16, u'item': u'Q'},
    {u'count': 15, u'item': u'S'}]},
  u'dataTypeName': u'text',
  u'fieldName': u'officeboro',
  u'format': {},
  u'id': 75768837,
  u'name': u'OFFICEBORO',
  u'position': 6,
  u'renderTypeName': u'text',
  u'tableColumnId': 1518995,
  u'width': 220},
 {u'cachedContents': {u'average': u'26.33061224489796',
   u'largest': u'51',
   u'non_null': 245,
   u'null': 40,
   u'smallest': u'1',
   u'sum': u'6451',
   u'top': [{u'count': 20, u'item': u'7'},
    {u'count': 19, u'item': u'32'},
    {u'count': 18, u'item': u'37'},
    {u'count': 17, u'item': u'28'},
    {u'count': 16, u'item': u'19'},
    {u'count': 15, u'item': u'39'},
    {u'count': 14, u'item': u'35'},
    {u'count': 13, u'item': u'42'},
    {u'count': 12, u'item': u'31'},
    {u'count': 11, u'item': u'6'},
    {u'count': 10, u'item': u'47'},
    {u'count': 9, u'item': u'20'},
    {u'count': 8, u'item': u'1'},
    {u'count': 7, u'item': u'27'},
    {u'count': 6, u'item': u'26'},
    {u'count': 5, u'item': u'10'},
    {u'count': 4, u'item': u'34'},
    {u'count': 3, u'item': u'45'},
    {u'count': 2, u'item': u'40'},
    {u'count': 1, u'item': u'12'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'officedist',
  u'format': {},
  u'id': 75768838,
  u'name': u'OFFICEDIST',
  u'position': 7,
  u'renderTypeName': u'number',
  u'tableColumnId': 1518996,
  u'width': 220},
 {u'cachedContents': {u'largest': u'P',
   u'non_null': 285,
   u'null': 0,
   u'smallest': u'CANCLASS',
   u'top': [{u'count': 20, u'item': u'CANCLASS'},
    {u'count': 19, u'item': u'P'}]},
  u'dataTypeName': u'text',
  u'fieldName': u'canclass',
  u'format': {},
  u'id': 75768839,
  u'name': u'CANCLASS',
  u'position': 8,
  u'renderTypeName': u'text',
  u'tableColumnId': 1518997,
  u'width': 196},
 {u'cachedContents': {u'average': u'112243.9612676056',
   u'largest': u'2846148.00',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'0',
   u'sum': u'31877285.00',
   u'top': [{u'count': 20, u'item': u'75350.00'},
    {u'count': 19, u'item': u'0'},
    {u'count': 18, u'item': u'91333.00'},
    {u'count': 17, u'item': u'69780.00'},
    {u'count': 16, u'item': u'22172.00'},
    {u'count': 15, u'item': u'65356.00'},
    {u'count': 14, u'item': u'11423.00'},
    {u'count': 13, u'item': u'60152.00'},
    {u'count': 12, u'item': u'75040.00'},
    {u'count': 11, u'item': u'62436.00'},
    {u'count': 10, u'item': u'42075.00'},
    {u'count': 9, u'item': u'74920.00'},
    {u'count': 8, u'item': u'38088.00'},
    {u'count': 7, u'item': u'74850.00'},
    {u'count': 6, u'item': u'89502.00'},
    {u'count': 5, u'item': u'74350.00'},
    {u'count': 4, u'item': u'58348.00'},
    {u'count': 3, u'item': u'55100.00'},
    {u'count': 2, u'item': u'508893.00'},
    {u'count': 1, u'item': u'74750.00'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'primarypay',
  u'format': {},
  u'id': 75768840,
  u'name': u'PRIMARYPAY',
  u'position': 9,
  u'renderTypeName': u'number',
  u'tableColumnId': 1518998,
  u'width': 220},
 {u'cachedContents': {u'average': u'28753.57394366197',
   u'largest': u'976545.00',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'0',
   u'sum': u'8166015.00',
   u'top': [{u'count': 20, u'item': u'0'},
    {u'count': 19, u'item': u'75350.00'},
    {u'count': 18, u'item': u'201131.00'},
    {u'count': 17, u'item': u'39760.00'},
    {u'count': 16, u'item': u'57796.00'},
    {u'count': 15, u'item': u'75200.00'},
    {u'count': 14, u'item': u'68234.00'},
    {u'count': 13, u'item': u'5732.00'},
    {u'count': 12, u'item': u'58488.00'},
    {u'count': 11, u'item': u'62184.00'},
    {u'count': 10, u'item': u'44748.00'},
    {u'count': 9, u'item': u'21946.00'},
    {u'count': 8, u'item': u'70500.00'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'generalpay',
  u'format': {},
  u'id': 75768841,
  u'name': u'GENERALPAY',
  u'position': 10,
  u'renderTypeName': u'number',
  u'tableColumnId': 1518999,
  u'width': 220},
 {u'cachedContents': {u'average': u'7776.778169014085',
   u'largest': u'711537.00',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'0',
   u'sum': u'2208605.00',
   u'top': [{u'count': 20, u'item': u'0'},
    {u'count': 19, u'item': u'267331.00'},
    {u'count': 18, u'item': u'574387.00'},
    {u'count': 17, u'item': u'303270.00'},
    {u'count': 16, u'item': u'711537.00'},
    {u'count': 15, u'item': u'114407.00'},
    {u'count': 14, u'item': u'237673.00'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'runoffpay',
  u'format': {},
  u'id': 75768842,
  u'name': u'RUNOFFPAY',
  u'position': 11,
  u'renderTypeName': u'number',
  u'tableColumnId': 1519000,
  u'width': 208},
 {u'cachedContents': {u'average': u'148774.3133802817',
   u'largest': u'4534230.00',
   u'non_null': 284,
   u'null': 1,
   u'smallest': u'0',
   u'sum': u'42251905.00',
   u'top': [{u'count': 20, u'item': u'0'},
    {u'count': 19, u'item': u'75350.00'},
    {u'count': 18, u'item': u'150700.00'},
    {u'count': 17, u'item': u'2458534.00'},
    {u'count': 16, u'item': u'133146.00'},
    {u'count': 15, u'item': u'75200.00'},
    {u'count': 14, u'item': u'68234.00'},
    {u'count': 13, u'item': u'70664.00'},
    {u'count': 12, u'item': u'58488.00'},
    {u'count': 11, u'item': u'50112.00'},
    {u'count': 10, u'item': u'62184.00'},
    {u'count': 9, u'item': u'44748.00'},
    {u'count': 8, u'item': u'21946.00'},
    {u'count': 7, u'item': u'41656.00'},
    {u'count': 6, u'item': u'61260.00'},
    {u'count': 5, u'item': u'145850.00'},
    {u'count': 4, u'item': u'35808.00'},
    {u'count': 3, u'item': u'12172.00'}]},
  u'dataTypeName': u'number',
  u'fieldName': u'totalpay',
  u'format': {},
  u'id': 75768843,
  u'name': u'TOTALPAY',
  u'position': 12,
  u'renderTypeName': u'number',
  u'tableColumnId': 1519001,
  u'width': 196}]

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [20]:
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

In [21]:

df.meta.iloc[0]

u'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

### What's wrong with the first row of the DataFrame?

The first row has invalidCells according to the meta data, and appears to have column names in other entries. It appears to be a faulty record of sorts.

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!